{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="recursos-profesor">
        <section class="container">
            <h3 class="main-title"><span class="fas fa-question-circle"></span> FAQ</h3>
            <section class="flat-content">
                <div class="accordion" id="ayuda">

                    {% for pregunta in preguntas %}
                        {% if forloop.first %}

                            <div class="card">
                                <div class="card-header" id="heading-{{ pregunta.pk }}">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#pregunta-{{ pregunta.pk }}" aria-expanded="true" aria-controls="pregunta-{{ pregunta.pk }}">
                                            {{ forloop.counter }}. {{ pregunta.question }}
                                        </button>
                                    </h5>
                                </div>

                                <div id="pregunta-{{ pregunta.pk }}" class="collapse show" aria-labelledby="heading-{{ pregunta.pk }}" data-parent="#ayuda">
                                    <div class="card-body">
                                        <p>{{ pregunta.answer }}</p>
                                    </div>
                                </div>
                            </div>

                        {% else %}

                            <div class="card">
                                <div class="card-header" id="heading-{{ pregunta.pk }}">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#pregunta-{{ pregunta.pk }}" aria-expanded="false" aria-controls="pregunta-{{ pregunta.pk }}">
                                            {{ forloop.counter }}. {{ pregunta.question }}
                                        </button>
                                    </h5>
                                </div>

                                <div id="pregunta-{{ pregunta.pk }}" class="collapse" aria-labelledby="heading-{{ pregunta.pk }}" data-parent="#ayuda">
                                    <div class="card-body">
                                        <p>{{ pregunta.answer }}</p>
                                    </div>
                                </div>
                            </div>

                        {% endif %}

                    {% endfor %}

                </div>
            </section>
        </section>
    </section>
{% endblock %}
