//** Estilos para rest password y change password

.password {
  .container {
    @include responsive(medium) {
      max-width: 800px;
    }

    .submit-btn {
      @include responsive(medium) {
        display: block;
        margin: 0 auto;
        width: 50%;
      }
    }

    form {
      margin-bottom: 2em;
    }
  }
}

.password-header {
  margin: 2em 0;

  p {
    margin: 1em 0;
    font-weight: lighter;
  }
}


