//** Registro

.register {
  .container {
    @include responsive(medium) {
      max-width: 720px;
    }

    .submit-btn {
      @include responsive(medium) {
        display: block;
        margin: 0 auto;
        width: 50%;
      }
    }
  }
}

.register-header {
  @include responsive(extra-large) {
    width: 70%;
  }

  margin: 2em 0;

  p {
    font-weight: lighter;
  }
}

.register-footer {
  margin: 2em auto 4em;
  font-size: .8rem;
  text-align: center;

  p {
    display: inline-block;
    margin: 0 .5em;
  }

  a {
    display: inline-block;
    color: $turquoise-dark;

    &:hover {
      color: $turquoise-dark;
    }
  }
}
