{% for criterio in criterios %}
    {% if formset_name and numero_fila %}
            <li>
                <input type="checkbox" class="custom-checkbox"
                    name="{{ formset_name }}-{{ numero_fila }}-criterios_evaluacion"
                    value="{{ criterio.pk }}"
                    id="id_{{ formset_name }}-{{ numero_fila }}-criterios_evaluacion_{{ forloop.counter0 }}">
                <label class="check-label" for="id_{{ formset_name }}-{{ numero_fila }}-criterios_evaluacion_{{ forloop.counter0 }}">
                    {{ criterio.codigo }} - {{ criterio.description }}
                </label>
            </li>
    {% else %}
            <li>
                <input type="checkbox" class="custom-checkbox"
                    name="criterios_evaluacion"
                    value="{{ criterio.pk }}"
                    id="id_criterios_evaluacion_{{ forloop.counter0 }}">
                <label class="check-label" for="id_criterios_evaluacion_{{ forloop.counter0 }}">
                    {{ criterio.codigo }} - {{ criterio.description }}
                </label>
            </li>
    {% endif %}
{% endfor %}

