{% for destreza in destrezas %}
    {% if formset_name and numero_fila %}
        <li>
            <input type="checkbox" class="custom-checkbox"
                name="{{ formset_name }}-{{ numero_fila }}-destrezas"
                value="{{ destreza.pk }}"
                id="id_{{ formset_name }}-{{ numero_fila }}-destrezas_{{ forloop.counter0 }}">
            <label class="check-label" for="id_{{ formset_name }}-{{ numero_fila }}-destrezas_{{ forloop.counter0 }}" title="{{ destreza.description }}">
                {{ destreza.codigo }} - {{ destreza.description|slice:":110"|add:'...' }}
            </label>
        </li>
    {% else %}
        <li>
            <input type="checkbox" class="custom-checkbox"
                name="destrezas"
                value="{{ destreza.pk }}"
                id="id_destrezas_{{ forloop.counter0 }}">
            <label class="check-label" for="id_destrezas_{{ forloop.counter0 }}" title="{{ destreza.description }}">
                {{ destreza.codigo }} - {{ destreza.description|slice:":110"|add:'...' }}
            </label>
        </li>
    {% endif %}
{% endfor %}

