{% for indicador in indicadores %}
    <li>
        <input type="checkbox" class="custom-checkbox"
            name="{{ formset_name }}-{{ numero_fila }}-indicadores"
            value="{{ indicador.pk }}"
            id="id_{{ formset_name }}-{{ numero_fila }}-indicadores_{{ forloop.counter0 }}">
        <label class="check-label" for="id_{{ formset_name }}-{{ numero_fila }}-indicadores_{{ forloop.counter0 }}">
            {{ indicador.codigo }} - {{ indicador.description }}
        </label>
    </li>
{% endfor %}
