{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block titulo %}
    {{ title }}
{% endblock titulo %}

{% block content %}
    <section class="detail">
        <div class="planification-title">
            <h3 class="main-title">{{ title }}</h3>
        </div>
        <form method="post" id="planUnidadForm"
            load-cursos-url={% url 'ajax_load_cursos' template='select' %}
            load-unidades-url={% url 'ajax_load_unidades' %}
            load-objetivos-url={% url 'ajax_load_objetivos' option='unidad' %}
            load-destrezas-url={% url 'ajax_load_destrezas' template='checklist' %}
            load-criterios-url={% url 'ajax_load_criterios' %}
            load-indicadores-url={% url 'ajax_load_indicadores' option='criterio' %}
            novalidate>
            {% csrf_token %}
            {{ form.media }} {% comment %} Para el CKeditor  {% endcomment %}

            {{ form.non_field_errors }}

            <section class="datos-informativos">
                <h5 class="form-label">Datos Informativos:</h5>

                <div class="form-group-2">
                    {% include "forms/floating_input.html" with field=form.name %}
                    {% include "forms/floating_input.html" with field=form.ano_lectivo %}
                </div>

                <div class="form-group-2">
                    {% include "forms/floating_input.html" with field=form.docentes %}
                    {% include "forms/select_field.html" with field=form.asignatura %}
                </div>

                <div class="form-group-2">
                    {% include "forms/select_field.html" with field=form.curso %}
                    {% include "forms/floating_input.html" with field=form.paralelos %}
                </div>

                <div class="form-group-2">
                    {% include "forms/floating_input.html" with field=form.periodos %}
                    {% include "forms/floating_input.html" with field=form.tiempo %}
                </div>

                {{ form.unidad|add_label_class:"form-label" }}
                <div class="form-group-2">
                    {% include "forms/select_field.html" with field=form.unidad %}
                </div>

                <div class="form-group">
                    {{ form.objetivos|add_label_class:"form-label" }}
                    {{ form.objetivos }}
                    {{ form.objetivos_generales }}
                </div>

            </section>

            <section class="table-responsive formset-container">
                <h5 class="form-label">Actividades de Aprendizaje:</h5>
                <table class="formset" id="actividades-aprendizaje">
                    <thead>
                        <tr>
                            <th class="col-title col-lg" rowspan="2">Destrezas con Criterios de Desempeño</th>
                            <th class="col-title col-lg" rowspan="2">Criterios de Evaluación</th>
                            <th class="col-title" rowspan="2">Estrategias metodológicas</th>
                            <th class="col-title" rowspan="2">Recursos</th>
                            <th class="col-title col-lg" rowspan="2">Indicadores de Logro</th>
                            <th class="col-title" colspan="2">Técnicas/Instrumentos de Evaluación</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{ actividades_formset.management_form }}
                        {{ actividades_formset.non_form_errors }}
                        {% for actividades_form in actividades_formset %}

                            {% if form.instance.pk %} {% comment %}  Solo para update {% endcomment %}
                                {{ actividades_form.id }}
                            {% endif %}

                            <tr>
                                <td class="checklist destrezas">
                                    {% with field=actividades_form.destrezas %}
                                        {% if field.errors %}
                                            {% render_field field class="error" %}
                                            {% include 'forms/field_errors.html'%}
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    {% endwith %}
                                </td>

                                <td class="checklist criterios">
                                    {% with field=actividades_form.criterios_evaluacion %}
                                        {% if field.errors %}
                                            {% render_field field class="error" %}
                                            {% include 'forms/field_errors.html'%}
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    {% endwith %}
                                </td>

                                <td>
                                    <div class="cell-wrapper-lg">
                                        {% include "forms/table_textarea.html" with field=actividades_form.estrategias_metodologicas placeholder="Estrategias Metodológicas" %}
                                    </div>
                                </td>

                                <td>
                                    <div class="cell-wrapper-lg">
                                        {% include "forms/table_textarea.html" with field=actividades_form.recursos placeholder="Recursos" %}
                                    </div>
                                </td>

                                <td class="checklist indicadores">
                                    {% with field=actividades_form.indicadores %}
                                        {% if field.errors %}
                                            {% render_field field class="error" %}
                                            {% include 'forms/field_errors.html'%}
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    {% endwith %}
                                </td>

                                <td>
                                    <div class="cell-wrapper-lg">
                                        {% include "forms/table_textarea.html" with field=actividades_form.instrumentos_evaluacion placeholder="Técnicas e Instrumentos de Evaluación" %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

            </section>

            <div class="formset-buttons">
                <button type="button" class="btn primary-button common-btn" id="agregar-actividad">
                    <span class="fas fa-plus"></span> Agregar Actividad
                </button>

                {% if actividades_formset.total_form_count > 1 %}
                    <button class="secondary-button delete-btn" type="button" id="eliminar-actividad">
                        <span class="fas fa-minus"></span> Eliminar Actividad
                    </button>
                {% endif %}
            </div>


            <section class="form-footer">
                <h5 class="form-label">Adaptaciones Curriculares:</h5>

                <div class="form-group">
                    {{ form.necesidad_adaptacion|add_label_class:"form-label" }}
                    {% render_field form.necesidad_adaptacion class="textarea-full" %}
                </div>

                <div class="form-group">
                    {{ form.adaptacion_curricular|add_label_class:"form-label" }}
                    {% render_field form.adaptacion_curricular class="textarea-full" %}
                </div>

                <div class="form-group">
                    {{ form.aprobado_por|add_label_class:"form-label" }}
                    {{ form.aprobado_por }}
                </div>

                <div class="form-group">
                    {{ form.revisado_por|add_label_class:"form-label" }}
                    {{ form.revisado_por }}
                </div>

                <input type="submit" value="Guardar Planificación" class="btn primary-button submit-btn">

            </section>
        </form>
    </section>
{% endblock content%}

{% block scripts %}
    <script src="{% static 'autosize/dist/autosize.min.js' %}"></script>
    <script src="{% static 'js/planificaciones/plan_unidad.js' %}"></script>
{% endblock scripts %}
