{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block titulo %}
    Nuevo Plan Anual
{% endblock titulo %}

{% block content %}

    <section class="detail">
        <div class="planification-title">
            <h3 class="main-title">Nuevo Plan Anual</h3>
        </div>
        <form method="post" id="planAnualForm"
            load-cursos-url={% url 'ajax_load_cursos' template='select' %}
            load-unidades-url={% url 'ajax_load_unidades' %}
            load-objetivos-url={% url 'ajax_load_objetivos' option='curso' %}
            load-objetivos-area-url={% url 'ajax_load_objetivos' option='area' %}
            load-destrezas-url={% url 'ajax_load_destrezas' template='checklist' formset='desarrollo_unidades' %}
            load-criterios-url={% url 'ajax_load_criterios' %}
            load-indicadores-url={% url 'ajax_load_indicadores' option='criterio' formset='desarrollo_unidades' %}
            novalidate>
            {% csrf_token %}
            {{ form.media }} {% comment %} Para el CKeditor  {% endcomment %}

            {{ form.non_field_errors }}

            <section class="datos-informativos">
                <h5 class="form-label">Datos Informativos:</h5>

                <div class="form-group-2">
                    {% include "forms/floating_input.html" with field=form.name %}
                    {% include "forms/floating_input.html" with field=form.ano_lectivo %}
                </div>

                <div class="form-group-2">
                    {% include "forms/floating_input.html" with field=form.docentes %}
                    {% include "forms/select_field.html" with field=form.asignatura %}
                </div>

                <div class="form-group-2">
                    {% include "forms/select_field.html" with field=form.curso %}
                    {% include "forms/floating_input.html" with field=form.paralelos %}
                </div>

                <h5 class="form-label">Tiempo:</h5>

                <div class="form-group-2">
                    {% include "forms/floating_input.html" with field=form.carga_horaria %}
                    {% include "forms/floating_input.html" with field=form.semanas_trabajo %}
                </div>

                <div class="form-group-2">
                    {% include "forms/floating_input.html" with field=form.semanas_imprevistos %}
                </div>

                <h5 class="form-label">Objetivos:</h5>

                <div class="form-group">
                    {{ form.objetivos_curso|add_label_class:"form-label" }}
                    {{ form.objetivos_curso }}
                    {{ form.objetivos_generales_curso }}
                </div>

                <div class="form-group">
                    {{ form.objetivos_generales|add_label_class:"form-label" }}
                    {{ form.objetivos_generales }}
                </div>

                <div class="form-group">
                    {% include "forms/floating_input.html" with field=form.ejes_transversales %}
                </div>

            </section>


            <section class="table-responsive formset-container">
                <h5 class="form-label">Desarrollo de Unidades de Planificación:</h5>
                <table class="formset" id="desarrollo-unidad">
                    <thead>
                        <tr>
                            <th class="col-title col-lg" rowspan="2">Unidad</th>
                            <th class="col-title col-lg" rowspan="2">Objetivos de la Unidad</th>
                            <th class="col-title col-lg" rowspan="2">Contenido</th>
                            <th class="col-title" rowspan="2">Orientaciones Metodológicas</th>
                            <th class="col-title" colspan="2">Evaluación</th>
                            <th class="col-title col-lg" rowspan="2">Duración en Semanas</th>
                        </tr>

                        <tr>
                            <th class="col-subtitle col-lg">Criterios de Evaluación</th>
                            <th class="col-subtitle col-lg">Indicadores de Logro</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{ unidades_formset.management_form }}
                        {{ unidades_formset.non_form_errors }}
                        {% for unidades_form in unidades_formset %}

                            {% if form.instance.pk %} {% comment %}  Solo para update {% endcomment %}
                                {{ unidades_form.id }}
                            {% endif %}

                            <tr>
                                <td>
                                    <div class="cell-wrapper-select">
                                        {% include "forms/select_field.html" with field=unidades_form.unidad %}
                                    </div>
                                </td>

                                <td>
                                    {% with field=unidades_form.objetivos %}
                                        {% if field.errors %}
                                            {% render_field field class="error" %}
                                            {% include 'forms/field_errors.html'%}
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    {% endwith %}

                                    {% with field=unidades_form.objetivos_generales %}
                                        {% if field.errors %}
                                            {% render_field field class="error" %}
                                            {% include 'forms/field_errors.html'%}
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    {% endwith %}
                                </td>

                                <td>
                                    {% with field=unidades_form.destrezas %}
                                        {% if field.errors %}
                                            {% render_field field class="error" %}
                                            {% include 'forms/field_errors.html'%}
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    {% endwith %}
                                </td>

                                <td>
                                    <div class="cell-wrapper-lg">
                                        {% include "forms/table_textarea.html" with field=unidades_form.orientaciones_metodologicas placeholder="Orientaciones Metodológicas" %}
                                    </div>
                                </td>

                                <td>
                                    {% with field=unidades_form.criterios_evaluacion %}
                                        {% if field.errors %}
                                            {% render_field field class="error" %}
                                            {% include 'forms/field_errors.html'%}
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    {% endwith %}
                                </td>

                                <td class="indicadores">
                                    {% with field=unidades_form.indicadores %}
                                        {% if field.errors %}
                                            {% render_field field class="error" %}
                                            {% include 'forms/field_errors.html'%}
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    {% endwith %}
                                </td>

                                <td>
                                    <div class="cell-wrapper-select">
                                        {% include "forms/floating_input.html" with field=unidades_form.semanas %}
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

            </section>

            <div class="destrezas-buttons">
                <button type="button" class="btn primary-button common-btn" id="agregar-destreza">
                    <span class="fas fa-plus"></span> Agregar Unidad
                </button>

                {% if unidades_formset.total_form_count > 1 %}
                    <button class="secondary-button delete-btn" type="button" id="eliminar-destreza">
                        <span class="fas fa-minus"></span> Eliminar Unidad
                    </button>
                {% endif %}
            </div>

            <section class="form-footer">

                <div class="form-group">
                    {{ form.bibliografia|add_label_class:"form-label" }}
                    {% if form.bibliografia.errors %}
                        <div class="error">
                        {{ form.bibliografia }}
                        {% include 'forms/field_errors.html'%}
                        </div>
                    {% else %}
                        {{ form.bibliografia }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.observaciones|add_label_class:"form-label" }}
                    {% render_field form.observaciones class="textarea-full" placeholder="Escriba sus observaciones." %}
                </div>

                <div class="form-group">
                    {{ form.aprobado_por|add_label_class:"form-label" }}
                    {{ form.aprobado_por }}
                </div>

                <div class="form-group">
                    {{ form.revisado_por|add_label_class:"form-label" }}
                    {{ form.revisado_por }}
                </div>

                <input type="submit" value="Guardar Planificación" class="btn primary-button submit-btn">

            </section>
        </form>
    </section>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'autosize/dist/autosize.min.js' %}"></script>
    <script src="{% static 'js/planificaciones/plan_anual.js' %}"></script>
{% endblock scripts %}
