{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block titulo %}
    {{ title }}
{% endblock titulo %}

{% block content %}
    <section class="detail">
        <div class="planification-title">
            <h3 class="main-title">{{ title }}</h3>
        </div>
        <form method="post" id="planDestrezasForm"
            load-cursos-url={% url 'ajax_load_cursos' template='select' %}
            load-unidades-url={% url 'ajax_load_unidades' %}
            load-objetivos-url={% url 'ajax_load_objetivos' option='unidad' %}
            load-destrezas-url={% url 'ajax_load_destrezas' template='checklist' %}
            load-criterios-url={% url 'ajax_load_criterios' %}
            load-indicadores-url={% url 'ajax_load_indicadores' option='criterio' %}
            novalidate>
            {% csrf_token %}
            {{ form.media }} {% comment %} Para el CKeditor  {% endcomment %}

            {{ form.non_field_errors }}

            <section class="datos-informativos">
                <h5 class="form-label">Datos Informativos:</h5>

                <div class="form-group-2">
                    {% include "forms/floating_input.html" with field=form.name %}
                    {% include "forms/floating_input.html" with field=form.ano_lectivo %}
                </div>

                <div class="form-group-2">
                    {% include "forms/floating_input.html" with field=form.docentes %}
                    {% include "forms/select_field.html" with field=form.asignatura %}
                </div>

                <div class="form-group-2">
                    {% include "forms/select_field.html" with field=form.curso %}
                    {% include "forms/floating_input.html" with field=form.paralelos %}
                </div>

                <div class="form-group-2">
                    {% include "forms/floating_input.html" with field=form.periodos %}
                    {% include "forms/floating_input.html" with field=form.semana_inicio %}
                </div>


                {{ form.unidad|add_label_class:"form-label" }}
                <div class="form-group-2">
                    {% include "forms/select_field.html" with field=form.unidad %}
                </div>

                <div class="form-group">
                    {{ form.objetivos|add_label_class:"form-label" }}
                    {{ form.objetivos }}
                    {{ form.objetivos_generales }}
                </div>
            </section>

            <section class="formset-container">
                <h5 class="form-label">Planificación:</h5>
                <table class="formset">
                    <thead>
                        <tr>
                            <th class="col-title col-355">Destrezas con Criterios de Desempeño</th>
                            <th class="col-title col-236">Indicadores esenciales de Evaluación</th>
                            <th class="col-title col-254">Ejes Transversales</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="checklist destrezas">
                                {% with field=form.destrezas %}
                                    {% if field.errors %}
                                        {% render_field field class="error" %}
                                        {% include 'forms/field_errors.html'%}
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                {% endwith %}
                            </td>
                            <td class="checklist criterios">
                                {% with field=form.criterios_evaluacion %}
                                    {% if field.errors %}
                                        {% render_field field class="error" %}
                                        {% include 'forms/field_errors.html'%}
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                {% endwith %}
                            </td>
                            <td>
                                {% include "forms/table_textarea.html" with field=form.ejes_transversales placeholder="Ejes Transversales" %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section class="table-responsive formset-container">
                <table class="formset">
                    <thead>
                        <tr>
                            <th class="col-title col-lg" rowspan="2">Estrategias Metodológicas</th>
                            <th class="col-title col-lg" rowspan="2">Recursos</th>
                            <th class="col-title col-lg" rowspan="2">Indicadores de Logro</th>
                            <th class="col-title col-lg" colspan="2">Actividades de Evaluación</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>

                            <td>
                                {% include "forms/table_textarea.html" with field=form.estrategias_metodologicas placeholder="Estrategias Metodológicas" %}
                            </td>

                            <td>
                                {% include "forms/table_textarea.html" with field=form.recursos placeholder="Recursos" %}
                            </td>

                            <td class="checklist indicadores">
                                {% with field=form.indicadores %}
                                    {% if field.errors %}
                                        {% render_field field class="error" %}
                                        {% include 'forms/field_errors.html'%}
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                {% endwith %}
                            </td>

                            <td>
                                {% include "forms/table_textarea.html" with field=form.actividades_evaluacion placeholder="Actividades de Evaluación" %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section class="form-footer">
                <h5 class="form-label">Adaptaciones Curriculares:</h5>

                <div class="form-group">
                    {{ form.necesidad_adaptacion|add_label_class:"form-label" }}
                    {% render_field form.necesidad_adaptacion class="textarea-full" %}
                </div>

                <div class="form-group">
                    {{ form.adaptacion_curricular|add_label_class:"form-label" }}
                    {% render_field form.adaptacion_curricular class="textarea-full" %}
                </div>

                <div class="form-group">
                    {{ form.aprobado_por|add_label_class:"form-label" }}
                    {{ form.aprobado_por }}
                </div>

                <div class="form-group">
                    {{ form.revisado_por|add_label_class:"form-label" }}
                    {{ form.revisado_por }}
                </div>

                <input type="submit" value="Guardar Planificación" class="btn primary-button submit-btn">
            </section>
        </form>
    </section>
{% endblock content%}

{% block scripts %}
    <script src="{% static 'autosize/dist/autosize.min.js' %}"></script>
    <script src="{% static 'js/planificaciones/plan_destrezas.js' %}"></script>
{% endblock scripts %}
