{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block titulo %}
    Nuevo Plan de Clase
{% endblock titulo %}

{% block content %}
    <section class="detail">
        <div class="planification-title">
            <h3 class="main-title">Nuevo Plan de Clase</h3>
        </div>
        <form method="post" id="planClaseForm"
            load-cursos-url={% url 'ajax_load_cursos' %}
            load-objetivos-url={% url 'ajax_load_objetivos' %}
            load-destrezas-url={% url 'ajax_load_destrezas_select' %}
            load-indicadores-url={% url 'ajax_load_indicadores' %}
            novalidate>
            {% csrf_token %}
            {{ form.media }} {% comment %} Para el CKeditor  {% endcomment %}

            {{ form.non_field_errors }}

            <section class="datos-informativos">
                <h5 class="form-label">Datos Informativos:</h5>

                <div class="form-group-2">
                    {% include "forms/floating_input.html" with field=form.numero_plan %}
                    {% include "forms/floating_input.html" with field=form.name %}
                </div>

                <div class="form-group-2">
                    {% include "forms/floating_input.html" with field=form.fecha %}
                    {% include "forms/select_field.html" with field=form.asignatura %}
                </div>

                <div class="form-group-2">
                    {% include "forms/floating_input.html" with field=form.paralelos %}
                    {% include "forms/floating_input.html" with field=form.numero_estudiantes %}
                </div>

                <div class="form-group-2">
                    {% include "forms/floating_input.html" with field=form.tema %}
                    {% include "forms/floating_input.html" with field=form.periodos %}
                </div>

                <div class="form-group-2">
                    {% include "forms/floating_input.html" with field=form.metodologia %}
                    {% include "forms/floating_input.html" with field=form.tecnica %}
                </div>

                <div class="form-group">
                    {{ form.cursos|add_label_class:"form-label" }}

                    {% if field.errors %}
                        {% render_field form.cursos class="checkbox-list error" %}
                        {% include 'forms/field_errors.html'%}
                    {% else %}
                        {% render_field form.cursos class="checkbox-list" %}
                    {% endif %}


                </div>

                <div class="form-group">
                    {{ form.objetivos|add_label_class:"form-label" }}
                    {{ form.objetivos }}
                    {{ form.objetivos_generales }}
                </div>

                <h5 class="form-label">Relación de Elementos Curriculares:</h5>
            </section>


            <section class="table-responsive elem-curric-container">
                <table class="elementos-curriculares" id="elementos-curriculares">
                    <thead>
                        <tr>
                            <th class="col-title col-lg" rowspan="2">Destreza con Criterio de Desempeño</th>
                            <th class="col-title" rowspan="2">Conocimientos Asociados</th>
                            <th class="col-title" rowspan="2">Proceso Didáctico</th>
                            <th class="col-title" rowspan="2">Tiempo</th>
                            <th class="col-title" rowspan="2">Recursos</th>
                            <th class="col-title" colspan="2">Evaluación</th>
                        </tr>

                        <tr>
                            <th class="col-subtitle col-lg">Indicadores de Logro</th>
                            <th class="col-subtitle">Actividades de Evaluación</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{ elementos_formset.management_form }}
                        {{ elementos_formset.non_form_errors }}
                        {% for elementos_form in elementos_formset %}

                            {% if form.instance.pk %} {% comment %}  Solo para update {% endcomment %}
                                {{ elementos_form.id }}
                            {% endif %}

                            <tr>
                                <td rowspan="{{ elementos_form.nested.total_form_count }}" class="elementos-form">
                                    <div class="cell-wrapper-select">
                                        {% include "forms/select_field.html" with field=elementos_form.destreza destreza=True %}
                                    </div>
                                </td>
                                <td rowspan="{{ elementos_form.nested.total_form_count }}" class="elementos-form">
                                    <div class="cell-wrapper-lg">
                                        {% include "forms/table_textarea.html" with field=elementos_form.conocimientos_asociados placeholder="Conocimientos Asociados" %}
                                    </div>
                                </td>

                                {# Formset Anidado de procesos didácticos (Primera fila) #}
                                {% if elementos_form.nested %}
                                    {{ elementos_form.nested.management_form }}
                                    {{ elementos_form.nested.non_form_errors }}


                                    {% for procesos_form in elementos_form.nested.forms %}

                                        {% if form.instance.pk %} {% comment %}  Solo para update {% endcomment %}
                                            {{ procesos_form.id }}
                                        {% endif %}

                                        {% if forloop.first %}
                                            {% include 'planificaciones/forms/procesos_didacticos_form.html' %}
                                        {% endif %}

                                    {% endfor %}

                                {% endif %}
                                {# Fin de Formset Anidado de procesos didácticos #}

                                <td class="indicadores elementos-form" rowspan="{{ elementos_form.nested.total_form_count }}">
                                    {% with field=elementos_form.indicadores_logro %}
                                        {% if field.errors %}
                                            {% render_field field class="error" %}
                                            {% include 'forms/field_errors.html'%}
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    {% endwith %}
                                </td>

                                <td rowspan="{{ elementos_form.nested.total_form_count }}" class="elementos-form">
                                    <div class="cell-wrapper-md">
                                        {% include "forms/table_textarea.html" with field=elementos_form.actividades_evaluacion placeholder="Actividades de Evaluación" %}
                                    </div>
                                </td>
                            </tr>

                            {# Formset Anidado de procesos didácticos (filas restantes) #}
                            {# Esto es para que estén en otra fila independiente #}
                            {% for procesos_form in elementos_form.nested.forms %}

                                {% if not forloop.first %}
                                    <tr rowspan="1">
                                        {% include 'planificaciones/forms/procesos_didacticos_form.html' %}
                                    </tr>
                                {% endif %}

                            {% endfor %}
                            {# Fin del Formset Anidado de procesos didácticos (filas restantes) #}
                        {%  endfor %}
                    </tbody>

                </table>

            </section>

            <div class="destrezas-buttons">
                <button type="button" class="btn primary-button common-btn" id="agregar-destreza">
                    <span class="fas fa-plus"></span> Agregar Destreza
                </button>

                {% if elementos_formset.total_form_count > 1 %}
                    <button class="secondary-button delete-btn" type="button" id="eliminar-destreza">
                        <span class="fas fa-minus"></span> Eliminar Destreza
                    </button>
                {% endif %}
            </div>

            <section class="form-footer">
                {% for field in form %}
                    {% if forloop.counter > 13 and forloop.counter < 18 %}
                        <div class="form-group">
                            {{ field|add_label_class:"form-label" }}
                            {% if field.errors %}
                                <div class="error">
                                {{ field }}
                                {% include 'forms/field_errors.html'%}
                                </div>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="form-group">
                    {{ form.observaciones|add_label_class:"form-label" }}
                    {% render_field form.observaciones class="textarea-full" placeholder="Escriba sus observaciones." %}
                </div>

                <div class="form-group">
                    {{ form.aprobado_por|add_label_class:"form-label" }}
                    {{ form.aprobado_por }}
                </div>

                <input type="submit" value="Guardar Planificación" class="btn primary-button submit-btn">

            </section>
        </form>
    </section>
{% endblock content%}

{% block scripts %}
    <script src="{% static 'jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'jquery-validation/dist/localization/messages_es.min.js' %}"></script>
    <script src="{% static 'js/helpers/special_fields.js' %}"></script>
    <script src="{% static 'autosize/dist/autosize.min.js' %}"></script>
    <script src="{% static 'js/planificaciones/plan_clase.js' %}"></script>
{% endblock scripts %}
