{% load widget_tweaks %}

<td rowspan="1" class="procesos-form">
    <div class="cell-wrapper-lg">
        {% with field=procesos_form.name %}
            {% if field.errors %}
                {% render_field field class="table-form-control mb-4 error" placeholder="Nombre del Proceso" %}
                {% include 'forms/field_errors.html'%}
            {% else %}
                {% render_field field class="table-form-control mb-4" placeholder="Nombre del Proceso" %}
            {% endif %}
        {% endwith %}

        {% with field=procesos_form.description %}
            {% if field.errors %}
                {% render_field field class="table-textarea error" placeholder="Descripción" %}
                {% include 'forms/field_errors.html'%}
            {% else %}
                {% render_field field class="table-textarea" placeholder="Descripción" %}
            {% endif %}
        {% endwith %}
    </div>

    {% comment %} Se agrega los botones al último proceso y el de eliminar solo si son más de
    un proceso {% endcomment %}
    {% if elementos_form.nested.total_form_count == forloop.counter %}
        <p>
            <a href="#" class="agregar-proceso" id="agregar-proceso-row{{ forloop.parentloop.counter0 }}">
                <span class="fas fa-plus"></span> Agregar Proceso
            </a>
        </p>
        {% if not forloop.first %}
            <p>
                <a href="#" class="eliminar-proceso" id="eliminar-proceso-row{{ forloop.parentloop.counter0 }}">
                    <span class="fas fa-minus"></span> Eliminar Proceso
                </a>
            </p>
        {% endif %}
    {% endif %}

</td>

<td rowspan="1" class="procesos-form">
    {% with field=procesos_form.tiempo %}
    <div class="cell-wrapper-sm">
        {% if field.errors %}
            {% render_field field class="table-form-control error" placeholder="Tiempo" %}
            {% include 'forms/field_errors.html'%}
        {% else %}
            {% render_field field class="table-form-control" placeholder="Tiempo" %}
        {% endif %}
    </div>
    {% endwith %}
</td>

<td rowspan="1" class="procesos-form">
    {% with field=procesos_form.recursos %}
    <div class="cell-wrapper-md">
        {% if field.errors %}
            {% render_field field class="table-textarea textarea-full error" placeholder="Recursos" %}
            {% include 'forms/field_errors.html'%}
        {% else %}
            {% render_field field class="table-textarea textarea-full" placeholder="Recursos" %}
        {% endif %}
    </div>
    {% endwith %}
</td>
