{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="modal-contenido">
        <script src="https://js.stripe.com/v3/"></script>
        <div class="payment-header">

            <h4>Detalle de Pago</h4>
            <h5>Subscripción Premium: 4.99 USD</h5>
        </div>

        <form method="post" id="payment-form">
            {% csrf_token %}
            <div class="payment-form">
                <label class="payment-label" for="card-element">
                Tarjeta de Crédito
                </label>
                <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
            </div>

            <div class="payment-submit">
                <button type="button" class="secondary-button modal-dismiss">Cancelar</button>
                <button type="submit" class="primary-button subscribe-btn"><span class="fas fa-crown"></span> Obtener Premium</button>
            </div>
        </form>
    </section>
{% endblock content %}


{% block scripts %}
    <script src="{% static 'jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'jquery-validation/dist/localization/messages_es.min.js' %}"></script>
    <script src="{% static 'js/asistente/checkout.js' %}"></script>
{% endblock scripts %}
