{% extends 'info.html' %}

{% load static %}

{% block content %}
    <section class="recursos-profesor">
        <section class="container">
            <h3 class="main-title">{% block title %}Términos y Condiciones{% endblock %}</h3>
            <section class="flat-content">
                {% block info %}
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus in obcaecati laborum sit molestias eligendi incidunt, fuga impedit, quis, voluptatum ratione velit alias architecto? Ipsam possimus ad similique ex ducimus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ducimus a temporibus dolore beatae! Velit, perferendis eveniet. Molestiae minima itaque quibusdam porro placeat perferendis nobis asperiores laborum sint! Est, ut.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet libero aut consectetur ratione saepe pariatur neque accusamus, fuga quis facere nostrum, eaque odio illum dolore doloribus velit blanditiis quidem? Dolor.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet libero aut consectetur ratione saepe pariatur neque accusamus, fuga quis facere nostrum, eaque odio illum dolore doloribus velit blanditiis quidem? Dolor.</p>
                {% endblock %}
            </section>
        </section>
    </section>
{% endblock %}