{% extends 'info.html' %}

{% load static %}

{% block content %}
    <section class="recursos-profesor">
        <section class="container">
            <h3 class="main-title">{% block title %}Política de Cookies{% endblock %}</h3>
            <section class="flat-content">
                {% block info %}
                    <div>
    <p>Una cookie es un archivo de información que el servidor de este sitio web envía al ordenador/smartphone/tablet de quien accede a la página para almacenar y recuperar información sobre la navegación que se efectúa desde dicho equipo. Utilizamos diversos tipos de cookies (técnica, analíticas y sociales) únicamente con la finalidad de mejorar la navegación del usuario en el sitio web, sin ningún tipo de objeto publicitario o similar. Este portal, a través de las cookies no recoge dato personal alguno. Todas las cookies, salvo una utilizada por el sistema de estadísticas Google Analytics son temporales y desaparecen al concluir la sesión.</p>
    <p>Este sitio web utiliza las cookies que se detallan en el cuadro siguiente:</p>
    <ul>
        <li>Cookies técnicas necesarias o convenientes para la prestación de determinados servicios. Si se desactivan estas cookies, no podrá recibir correctamente los contenidos del sitio web.</li>
        <li>Cookies analíticas, para el seguimiento y análisis estadístico del comportamiento del conjunto de los usuarios. Si se desactivan estas cookies, el sitio web podrá seguir funcionando, sin perjuicio de que la información captada por estas cookies sobre el uso de nuestra web y sobre su contenido permite mejorar nuestros servicios.</li>
        <li>Cookies de redes sociales externas, que se utilizan para que los visitantes puedan  interactuar con el contenido de diferentes plataformas sociales (Facebook, YouTube, Twitter, LinkedIn, etc.) y que se generan únicamente para los usuarios de dichas redes sociales. Las condiciones de utilización de estas cookies y la información recopilada se regula por la política de privacidad de la plataforma social correspondiente.</li>
    </ul>
    <table border="1" width="100%" cellspacing="0">
        <thead>
            <tr class="">
                <th align="middle">Cookie</th>
                <th align="middle">Tipo</th>
                <th align="middle">Temporalidad</th>
                <th align="middle">Titularidad</th>
                <th align="middle">Finalidad</th>
                <th align="middle">Opt-Out</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>JavaScript/Sesión</td>
                <td>Técnica</td>
                <td>Temporal</td>
                <td>Propia</td>
                <td>Garantizar el correcto funcionamiento del sitio, detectando si el usuario que ha accedido tiene habilitada la posibilidad de utilizar JavaScript (lenguaje de programación interpretado que, entre otras cosas, permite una mejora en la experiencia de usuario de este Sitio), o de mantener la sesión en el gestor de contenidos.</td>
                <td>Neutro, por lo que no utiliza cookies</td>
            </tr>
            <tr>
                <td>Google Analytics I</td>
                <td>Analítica</td>
                <td>Permanente</td>
                <td>Ajena</td>
                <td>Generar un identificador de usuario único, que es el que se utiliza para hacer recuento de cuántas veces visita el sitio un usuario, así como la fecha de la primera y la última vez que visitó la web.</td>
                <td>Neutro</td>
            </tr>
            <tr>
                <td>Google Analytics II</td>
                <td>Analítica</td>
                <td>Temporal</td>
                <td>Ajena</td>
                <td>Registrar la fecha y hora de acceso a cualquiera de las páginas del Sitio.</td>
                <td>Neutro</td>
            </tr>
            <tr>
                <td>Google Analytics III</td>
                <td>Analítica</td>
                <td>Temporal</td>
                <td>Ajena</td>
                <td>Comprobar la necesidad de mantener la sesión de un usuario abierta o crear una nueva.</td>
                <td>Neutro</td>
            </tr>
            <tr>
                <td>Google Analytics IV</td>
                <td>Analítica</td>
                <td>Temporal</td>
                <td>Ajena</td>
                <td>Identificar la sesión del usuario, para recoger la ubicación geográfica aproximada del ordenador que accede al Sitio con efectos estadísticos.</td>
                <td>Neutro</td>
            </tr>
            <tr>
                <td>Sociales (Facebook, YouTube, Twitter, LinkedIn, etc.).</td>
                <td>Sociales</td>
                <td colspan="4" width="68%">Depende de cada red social.</td>
            </tr>
        </tbody>
    </table>
    <p><a name="configuracion_cookies"></a>El usuario podrá -en cualquier momento- elegir qué cookies quiere que funcionen en este sitio web mediante:</p>
    <ul class="configuracion_cookies_listado">
        <li>la configuración del <strong>navegador</strong>; por ejemplo:
        <ul>
        <li><strong>Chrome</strong>, desde <a class="external-link" href="https://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647" target="_blank">https://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647 </a></li>
        <li><strong>Explorer</strong>, desde <a class="external-link" href="https://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9" target="_blank">https://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</a></li>
        <li><strong>Firefox</strong>, desde <a class="external-link" href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we" target="_blank">https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a></li>
        <li><strong>Safari</strong>, desde <a class="external-link" href="https://support.apple.com/kb/ph5042" target="_blank">https://support.apple.com/kb/ph5042</a></li>
        </ul>
        </li>
        <li>Existen herramientas de terceros, disponibles on line, que permiten a los usuarios detectar las cookies en cada sitio web que visita y gestionar su desactivación.</li>
    </ul>
</div>
                {% endblock %}
            </section>
        </section>
    </section>
{% endblock %}