{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- premium section starts here -->
    <section class="premium">
        <div class="main-container">
            <div class="premium-text vertically-center">
                <h2 class="titulo-principal slide-up-fast">
                    Obten Premium por tan solo 4.99 USD mensuales.
                </h2>
                <p class="premium-info slide-up-slow">
                    Con la suscripción premium podrás realizar cualquier
                    tipo de planificación.
                </p>
                <button class="comenzar-button zoom">Obtener Premium</button>
            </div>
            <div class="premium-img">
                <img class="imagen" src="{% static 'img/profesora.png' %}" alt="Profesora">
            </div>
        </div>
    </section>
    <!-- premium section starts here -->

    <!-- comparison starts here -->
    <section class="comparison">
        <div class="main-container">
            <h4>
                Puedes comenzar a crear gratis tus planificaciones o
                suscribirte a uno de nuestros Plan Premium.
            </h4>
            <div class="plans">


                {% for plan in plans %}
                    <div class="plan-card {% if plan.plan_type == 'GRATIS' %}sub-gratuita{% else %}sub-premium{% endif %}">
                        <div class="sub-header">
                            <h5>Subscripción {{ plan.plan_type.title }}</h5>
                            <div class="price">
                                <h3>{{ plan.price }} USD</h3>
                                    {% if plan.plan_type == 'MENSUAL' %}
                                        <small>al mes</small>
                                    {% elif plan.plan_type == 'ANUAL' %}
                                        <small>al año</small>
                                    {% elif plan.plan_type == 'PAGO ÚNICO' %}
                                        <small>un solo pago!</small>
                                    {% else %}
                                    {% endif %}
                            </div>
                        </div>
                        <div class="plan-content">
                            <p>Puedes crear y almacenar tus:</p>
                            <ul>
                                <li>Planes de Clase</li>
                                <li class="{% if plan.plan_type == 'GRATIS' %}inactive-feature{% endif %}">
                                    Planificaciones de Unidad Didáctica
                                </li>
                                <li class="{% if plan.plan_type == 'GRATIS' %}inactive-feature{% endif %}">
                                    Planificación de Destrezas
                                </li>
                                <li class="{% if plan.plan_type == 'GRATIS' %}inactive-feature{% endif %}">
                                    Planificación Curricular Anual
                                </li>
                            </ul>

                            {% if plan.plan_type == 'GRATIS' %}
                                {% if user.is_authenticated %}
                                    <p class="text-center mt-5">Plan Actual</p>
                                {% else %}
                                    <a href="{% url 'signup' %}" class="plan-btn secondary-button">
                                        Usar Gratis
                                    </a>
                                {% endif %}

                            {% else %}
                                <a href="{{ plan.get_absolute_url }}" class="plan-btn primary-button">
                                    Obtener Premium
                                </a>
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- comparison ends here -->

{% endblock %}
