Hola {{ user.first_name }}!,
<br>
<br>
Gracias por elegir Asistente de Cátedra.
<br>
{% if cancel %}
    {% if plan %}
    Tu subscripción al plan {{ plan.plan_type }} ha sido cancelada con éxito.
    {% else %}
    Su subscripcion ha regresado al plan FREE
    {% endif %}
{% else %}
Tu subscripción al plan {{ plan.plan_type }} ha sido realizada con éxito.
{% endif %}
<br>
<br>
Prueba lo fácil que es ahora realizar tus planificaciones!. No dudes en contactarnos
si tienes alguna pregunta o sugerencia.
