{% extends 'info.html' %}

{% load static %}

{% block content %}
    <section class="recursos-profesor">
        <section class="container">
            <h3 class="main-title">{% block title %}Ooops... ERROR 404{% endblock %}</h3>
            <section class="flat-content">
                {% block info %}
                    <div class="side-container">
                        <section>
                            <p>Lo sentimos, pero la página que buscas no existe.</p>
                            <p>Ve a la página principal y sigue tu camino desde allí.</p>
                        </section>
                        <img src="{% static 'img/broken_robot.jpg' %}" alt="error">

                    </div>
                {% endblock %}
            </section>
        </section>
    </section>
{% endblock %}
