{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block titulo %}
    Asistente de Cátedra | Restablecimiento de Contraseña
{% endblock titulo %}

{% block content %}
    <section class="password">
        <section class="container">
            {% if validlink %}
                <div class="password-header">
                    <h3 class="main-title"><span class="fas fa-key"></span> Cambio de contraseña</h3>
                </div>
                <form method="POST" id="passwordResetConfirmForm" novalidate>
                    {% csrf_token %}
                    {% include 'includes/floating_form.html' %}
                    <button type="submit" class="primary-button submit-btn">Enviar</button>
                </form>
            {% else %}
                <div class="password-header">
                    <h3 class="main-title"><span class="fas fa-lock"></span> Reestablecimiento de contraseña fallido</h3>
                    <p>
                        El enlace de restablecimiento de contraseña no es
                        válido, seguramente porque ya ha sido usado antes.
                    </p>
                    <p>
                        Por favor, solicite un nuevo restablecimiento de contraseña
                        siguiendo el enlace a continuación.
                    </p>
                    <a class="btn primary-button" href="{% url 'password_reset' %}">Enviar correo nuevamente</a>
                </div>
            {% endif %}
        </section>
    </section>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'jquery-validation/dist/localization/messages_es.min.js' %}"></script>
    {% if validlink %}
        <script src="{% static 'js/accounts/password_reset_confirm.js' %}"></script>
    {% endif %}
{% endblock scripts %}
