{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block titulo %}
    Asistente de Cátedra | Cambiar Contraseña
{% endblock titulo %}

{% block content %}
        <form method="post">
            {{ form }}
            <button type="submit"></button>
        </form>
{% endblock content %}

{% block scripts %}
    {% comment %} <script src="{% static 'js/vendors/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/vendors/jquery-validation/messages_es.js' %}"></script>
    <script src="{% static 'js/vendors/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'js/vendors/recaptchav3/recaptchaToken.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/signup/signup.js' %}"></script> {% endcomment %}
{% endblock scripts %}
