{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block titulo %}
    Asistente de Cátedra | Restablecimiento de Contraseña
{% endblock titulo %}

{% block content %}
    {% if validlink %}
        <form method="post">
            {{ form }}
            <button type="submit"></button>
        </form>
    {% else %}
        <h2>Restablecimiento de contraseña fallido.</h2>
        <p>
            El enlace de restablecimiento de contraseña no es
            válido, seguramente porque ya ha sido usado antes.
        </p>
        <p>
            Por favor, solicite un nuevo restablecimiento de contraseña
            siguiendo el enlace a continuación.
        </p>
        <a href="{% url 'password_reset' %}">Enviar correo</a>
    {% endif %}

{% endblock content %}

{% block scripts %}
    {% comment %} <script src="{% static 'js/vendors/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/vendors/jquery-validation/messages_es.js' %}"></script>
    <script src="{% static 'js/vendors/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'js/vendors/recaptchav3/recaptchaToken.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/signup/signup.js' %}"></script> {% endcomment %}
{% endblock scripts %}
