{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block titulo %}
    Asistente de Cátedra | Registro
{% endblock titulo %}

{% block content %}
    <!-- content starts here -->
    <section class="content">
        <section class="register">
            <section class="container">
                <div class="register-header">
                    <h3 class="main-title">Crea una cuenta</h3>
                    <p>Empieza a realizar ya tus planificaciones.</p>
                </div>
                <form method="POST" id="signupForm" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group-2">
                        <div class="form-group-float">
                            {{ form.first_name | add_label_class:"form-control-placeholder" }}
                            {% render_field form.first_name class="form-control floating-input" %}
                            <small class="form-text text-muted">
                                {{ form.first_name.help_text }}
                            </small>
                        </div>
                        <div class="form-group-float">
                            {{ form.last_name | add_label_class:"form-control-placeholder" }}
                            {% render_field form.last_name class="form-control floating-input" %}
                            <small class="form-text text-muted">
                                {{ form.last_name.help_text }}
                            </small>
                        </div>
                    </div>
                    <div class="form-group-2">
                        <div class="form-group-float">
                            {{ form.email | add_label_class:"form-control-placeholder" }}
                            {% render_field form.email class="form-control floating-input" %}
                        </div>
                        <div class="form-group-float">
                            {{ form.username | add_label_class:"form-control-placeholder" }}
                            {% render_field form.username class="form-control floating-input" %}
                        </div>
                    </div>
                    <div class="form-group-2">
                        <div class="form-group-float">
                            {{ form.password1 | add_label_class:"form-control-placeholder" }}
                            {% render_field form.password1 class="form-control floating-input" %}
                            <small class="form-text text-muted">
                                {{ form.password1.help_text }}
                            </small>
                        </div>
                        <div class="form-group-float">
                            {{ form.password2 | add_label_class:"form-control-placeholder" }}
                            {% render_field form.password2 class="form-control floating-input" %}
                        </div>
                    </div>

                    <div class="form-group-2">
                        <div class="form-group-float">
                            {{ form.institution | add_label_class:"form-control-placeholder" }}
                            {% render_field form.institution class="form-control floating-input" %}
                            <small class="form-text text-muted">
                                {{ form.institution.help_text }}
                            </small>
                        </div>
                        {% render_field form.terms %}
                        {{ form.terms.label_tag }}
                    </div>

                    <button type="submit" class="primary-button submit-btn">REGÍSTRATE</button>
                </form>
                <div class="register-footer">
                    <p>¿Ya estas registrado?</p><a href="#">Inicia Sesión</a>
                </div>
            </section>
        </section>
    </section>
    <!-- content ends here -->

{% endblock content %}