{% load widget_tweaks %}

<div class="form-group-float">
    {% if field.errors %}
        {{ field | add_label_class:"form-control-placeholder label-error" }}
        {% render_field field class="form-control floating-input error" %}
        {% include 'forms/help_text.html'%}
        {% include 'forms/field_errors.html'%}
    {% else %}
        {{ field | add_label_class:"form-control-placeholder" }}
        {% render_field field class="form-control floating-input" %}
        {% include 'forms/help_text.html'%}
    {% endif %}
</div>