{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    Asistente de Cátedra | Restablecimiento de Contraseña
{% endblock titulo %}

{% block content %}
    <section class="password">
        <section class="container">
            <div class="password-header">
                <h3 class="main-title"><span class="fas fa-key"></span> Reestablecimiento de contraseña</h3>
                <p>
                    ¿Ha olvidado su clave? Introduzca su dirección de correo
                    a continuación y le enviaremos por correo electrónico las
                    instrucciones para establecer una nueva.
                </p>
            </div>
            <form method="POST" id="passwordResetForm" novalidate>
                {% csrf_token %}
                {% include 'accounts/forms/password_reset_form.html' %}
                <button type="submit" class="primary-button submit-btn">Enviar</button>
            </form>
        </section>
    </section>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'jquery-validation/dist/localization/messages_es.min.js' %}"></script>
    <script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
    <script src="{% static 'js/accounts/password_reset.js' %}"></script>
{% endblock scripts %}

