{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block titulo %}
    Asistente de Cátedra | Perfil de Usuario
{% endblock titulo %}

{% block head_scripts %}
    <link rel="stylesheet" href="{% static 'cropperjs/dist/cropper.min.css' %}">
{% endblock head_scripts %}

{% block content %}

    <!-- content starts here -->
    <section class="content">
        <section class="profile">
            <section class="container">
                <h3 class="main-title">Perfil</h3>
                <div class="profile-content">

                    <div class="profile-info">
                        <div class="profile-container">
                            <div class="user">
                                <div class="profile-img">
                                    <img id="user-photo"
                                        class="user-image"
                                        src="{{ user.get_photo }}"
                                        alt="Usuario"
                                        title="Haga click para cambiar de imágen">
                                    <span class="premium-badge">PREMIUM</span>
                                </div>

                                <form id="photoForm"
                                    class="d-none"
                                    action="{% url 'photo_upload' %}"
                                    method="POST"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ view.photo_form }}
                                </form>

                                <p class="fullname">
                                    <strong>{{ user.first_name }} {{ user.last_name }}</strong>
                                </p>
                            </div>
                        </div>

                        <div class="profile-container">
                            <h4 class="subscription-card-title">Subscripción</h4>
                            <div class="user-info-wrapper">
                                <p class="info-item">
                                    <strong>Tipo de Plan:</strong> {{ user.active_plan }}
                                </p>
                                <p class="info-item">
                                    <strong>Miembro desde:</strong> 10/02/2019
                                </p>
                                <p class="info-item">
                                    <strong>Premium desde:</strong> 10/02/2019
                                </p>
                                <p class="info-item">
                                    <strong>Siguiente pago:</strong> 10/02/2019
                                </p>
                            </div>
                        </div>

                    </div>



                    <div class="profile-form">
                        <form method="POST" id="profileForm" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-group row">
                                {{ form.first_name | add_label_class:"col-sm-2 col-form-label" }}
                                <div class="col-sm-10">
                                {% render_field form.first_name class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ form.last_name | add_label_class:"col-sm-2 col-form-label" }}
                                <div class="col-sm-10">
                                {% render_field form.last_name class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ form.institution | add_label_class:"col-sm-2 col-form-label" }}
                                <div class="col-sm-10">
                                {% render_field form.institution class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 col-form-label school-logo-label">
                                    {{ form.institution_logo.label_tag }}
                                </div>
                                {% render_field form.institution_logo class="d-none" %}

                                <div class="school-logo-container col-sm-10">
                                    <img id="school-logo"
                                        class="school-logo"
                                        src="{{ user.get_logo }}"
                                        alt="logo de la institución"
                                        title="Haga click para cambiar de imágen">
                                    <p class="school-logo-help text-muted">
                                        Click en el logo para cargar uno nuevo.
                                    </p>
                                </div>
                            </div>

                            <div class="notifications">
                                <div class="notifications-body">
                                    <p class="notifications-text">
                                        Deseo notificaciones, boletines informativos y promociones por
                                        parte del equipo de Asistente de Cátedra.
                                    </p>
                                    <div class="toggle-switch-wrapper vertically-center">
                                        <label class="toggle-switch" for="id_allow_notifications">
                                            {{ form.allow_notifications }}
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="action-buttons">
                            <div class="action-btns-wrapper">
                                <form action="">
                                    <button class="secondary-button delete-btn">
                                        Eliminar Cuenta
                                    </button>
                                </form>
                                <form action="">
                                    <button class="secondary-button delete-btn">
                                        Cancelar Subscripción Premium
                                    </button>
                                </form>
                                <button class="primary-button" id="guardarCambios">
                                    Guardar Cambios
                                </button>
                            </div>
                         </div>

                    </div>

                </div>



            </section>
        </section>
    </section>
    <!-- content ends here -->

    <!-- MODAL TO CROP THE IMAGE -->
    <div class="modal fade" id="modalCrop">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Recortar foto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <img src="" id="image" style="max-width: 100%;">
                </div>

                <div class="modal-footer">
                    <div class="btn-group pull-left" role="group">
                        <button type="button" class="btn btn-default js-zoom-in">
                            <span class="fas fa-search-plus"></span>
                        </button>
                        <button type="button" class="btn btn-default js-zoom-out">
                            <span class="fas fa-search-minus"></span>
                        </button>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary js-crop-and-upload">Recortar y guardar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'jquery-validation/dist/localization/messages_es.min.js' %}"></script>
    <script src="{% static 'cropperjs/dist/cropper.min.js' %}"></script>
    <script src="{% static 'jquery-cropper/dist/jquery-cropper.min.js' %}"></script>
    <script src="{% static 'js/helpers/validators.js' %}"></script>
    <script src="{% static 'js/accounts/profile.js' %}"></script>
{% endblock scripts %}
