{% load widget_tweaks %}

{% if form.is_bound %}
    {% if field.errors %}
        {% render_field field class="invalid" %}
        {% for error in field.errors %}
        <div class="invalid-feedback">
            {{ error | escape }}
        </div>
        {% endfor %}

    {% else %}
        {{ field }} {# Agregar la clase al campo cuando es válido #}
    {% endif %}
{% else %}
{% endif %}

{{ field }}

{% if field.help_text %}
    <small class="form-text text-muted">
    {{ field.help_text }}
    </small>
{% endif %}