{% load widget_tweaks %}

{% if form.is_bound %}
    {% if field.errors %}
        {% render_field field class="form-control floating-input is-invalid" %}
        {% for error in field.errors %}
        <div class="invalid-feedback">
            {{ error | escape }}
        </div>
        {% endfor %}
    {% else %}
        {% render_field field class="form-control floating-input is-valid" %}
    {% endif %}
{% else %}
    {% render_field field class="form-control floating-input" %}
{% endif %}


{% if field.help_text %}
    <small class="form-text text-muted">
    {{ field.help_text }}
    </small>
{% endif %}