//** Tables

table {
  min-height: 160px;
}

.table-responsive {
  margin-bottom: 1.5em;
}

.formset-container {
  @include responsive(medium) {
    max-width: 700px;
  }

  @include responsive(large) {
    max-width: $plan-width;
  }

  margin: 0 auto;
  width: 90%;
}


.formset {
  margin-top: 1em;
  text-align: center;
  width: 100%;

  td {
    border: 1px solid $secondary-color;
    position: relative;
    vertical-align: top;
    padding: 1.5em 1em;

    &.objetivos,
    &.indicadores,
    &.criterios,
    &.destrezas {
      padding: 0 1em;
    }

    &.procesos {
      padding: .5em 1em;
    }
  }

  th {
    width: auto;
    // border: 1px solid $white;
    background: $secondary-color;
    color: $white;

    &.col-lg {
      min-width: 355px;
    }

    &.col-std {
      min-width: 333px;
    }

    &.col-355 {
      min-width: 355px;
    }

    &.col-236 {
      min-width: 236px;
    }

    &.col-254 {
      min-width: 254px;
    }

    &.col-title {
      border-right: 1px solid $white;
      border-left: 1px solid $white;

      &:first-child {
        border-left: 1px solid $secondary-color;
      }

      &:last-child {
        border-right: 0;
      }

    }

    &.col-subtitle {
      border-top: 1px solid $white;
    }
  }

  select {
    width: 100%;
  }

  .field-label {
    font-weight: bold;
  }

  .eliminar-proceso {
    color: $danger;

    &:hover {
      color: $danger-dark;
    }
  }
}

.checklist {
  ul {
    list-style: none;


    li {
      text-align: left;
    }
  }
}


.list {
  h2 {
    margin: 1em 0;
  }

  th {
    width: auto;
    text-align: center;
    table-layout: fixed;
  }

  td,
  th {
    text-align: center;
  }
}

