{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asistente de Cátedra</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-ui-dist/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    {% block head_scripts %}{% endblock head_scripts %}
</head>
<body>
    <!-- header starts here -->
    <header>
        <div class="navbar-asistente">
            <div class="navbar-top">
                <div class="navbar-container">
                    <div class="logo">
                        <a href="{% url 'home' %}">
                            <div class="logo-img">
                                <img src="{% static 'img/logo.png' %}" alt="Asistente de Cátedra" />
                            </div>
                            <div class="logo-text">
                                <p>Asistente de Cátedra</p>
                            </div>
                        </a>
                    </div>
                    <div class="session-buttons">
                        {% if user.is_authenticated %}

                        <div class="user-account dropdown-container">
                            <a class="nav-link dropdown-toggle user-dropdown" href="#" id="userDropdown">
                                <span class="fas fa-user"></span> {{ user.first_name }}
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ user.get_absolute_url }}">Perfil</a>
                                <a class="dropdown-item" href="{% url 'password_change' %}">Cambiar Contraseña</a>

                                {% if not user.email_confirmed %}
                                    <a class="dropdown-item" href="{% url 'send_confirmation'  %}">Confirmar correo</a>
                                {% endif %}

                                <a class="dropdown-item" href="{% url 'logout'  %}">Cerrar Sesión</a>

                            </div>
                        </div>

                        {% else %}

                        <a href="{% url 'login' %}" class="btn secondary-button login" id="login">Iniciar Sesión</a>
                        <a href="{% url 'signup' %}" class="btn primary-button register" id="register">Regístrate!</a>

                        {% endif %}
                    </div>
                </div>
            </div>

            <nav class="menu">
                <ul class="navbar-items">
                    <li class="navbar-item stroke">
                        <a href="{% url 'home' %}" class="navbar-link">Inicio</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="navbar-item navbar-submenu stroke dropdown-container">
                        <a href="{% url 'planificaciones' %}" class="navbar-link">Planificaciones</a>
                        <div class="dropdown-menu navbar-submenu-dropdown">
                            <a class="dropdown-item" href="{% url 'plan_clase_list' %}">Planes de Clase</a>
                            <a class="dropdown-item" href="{% url 'plan_unidad_list' %}">
                                Planificaciones de Unidad Didáctica
                            </a>
                            <a class="dropdown-item" href="{% url 'plan_destrezas_list' %}">
                                Planificaciones de Destrezas
                            </a>
                            <a class="dropdown-item" href="{% url 'plan_anual_list' %}">
                                Planificaciones Curriculares Anuales
                            </a>
                        </div>
                    </li>
                    {% endif %}

                    <li class="navbar-item stroke">
                        <a href="{% url 'biblioteca' %}" class="navbar-link">Biblioteca</a>
                    </li>
                    <li class="navbar-item stroke">
                        <a href="{% url 'ayuda' %}" class="navbar-link">Ayuda</a>
                    </li>
                    <li class="navbar-item stroke">
                        <a href="{% url 'contacto' %}" class="navbar-link">Contáctanos</a>
                    </li>
                    <li class="navbar-item stroke">
                        <a href="{% url 'about' %}" class="navbar-link">Acerca de</a>
                    </li>

                    {% if user.is_authenticated %}

                        <li class="navbar-item session-link">
                            <a href="{% url 'profile' pk=user.pk slug=user.slug %}" class="navbar-link">Perfil</a>
                        </li>
                        <li class="navbar-item session-link">
                            <a href="{% url 'logout' %}" class="navbar-link">Cerrar Sesión</a>
                        </li>

                    {% else %}

                        <li class="navbar-item session-link">
                            <a href="{% url 'login' %}" class="navbar-link">Iniciar Sesión</a>
                        </li>
                        <li class="navbar-item session-link">
                            <a href="{% url 'signup' %}" class="navbar-link">Registrarse</a>
                        </li>

                    {% endif %}

                </ul>
            </nav>
            <button id="menu-button" class="menu-button">
                <span class="bars-before"></span>
                <span class="bars"></span>
                <span class="bars-after"></span>
            </button>
        </div>
    </header>
    <!-- header ends here -->

    <!-- content starts here -->
    <section class="content">
        {% include 'includes/messages.html' %}
        {% block content %}{% endblock content%}
    </section>
    <!-- content ends here -->

    <!-- footer starts here -->
    <footer>
        <div class="container footer-menu">
            <div class="footer-list-wrapper">
                <nav>
                    <ul class="footer-list">
                        <li class="footer-list-item"><a href="{% url 'contacto' %}">Contáctanos</a></li>
                        <li class="footer-list-item"><a href="{% url 'biblioteca' %}">Biblioteca</a></li>
                        <li class="footer-list-item"><a href="{% url 'ayuda' %}">Ayuda</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer-list-wrapper">
                <nav>
                    <ul class="footer-list">
                        <li class="footer-list-item"><a href="{% url 'privacidad' %}">Política de Privacidad</a></li>
                        <li class="footer-list-item"><a href="{% url 'cookies' %}">Política de Cookies</a></li>
                        <li class="footer-list-item"><a href="{% url 'condiciones' %}">Términos y Condiciones</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer-list-wrapper">
                <h5>Síguenos!</h5>
                <a href="https://www.facebook.com/asistentedecatedra/" class="social"><span class="fab fa-facebook-f"></span></a>
                <a href="https://twitter.com/asistentedecate" class="social"><span class="fab fa-twitter"></span></a>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <img src="{% static 'img/flag.png' %}" alt="Ecuador">
                <p class="pais">Made in Ecuador</p>
                <p class="copy">&copy; {% now "Y" %} Asistente de Cátedra - Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
    <!-- footer ends here -->

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery-ui-dist/jquery-ui.min.js' %}"></script>
    <script src="{% static '@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
    <script src="{% static 'js/helpers/helpers.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
