//** Login and Register Styles

.auth {
  padding-top: 1em;
  background: $gray-soft;

  .container {
    text-align: center;

    .auth-img {
      margin: 0 auto 1em;
      width: 130px;
    }

    h3 {
      font-weight: lighter;
    }

    form {
      margin: 2em auto;
      max-width: 450px;
      padding: 2em 4em;
      border: 1px solid $black;
      text-align: left;
      border-radius: 10px;
      background: $white;

      .form-check-label {
        font-size: .8rem;
      }

      a {
        display: block;
        text-align: right;
        font-size: .8rem;
        color: $turquoise-dark;

        &.terms {
          display: inline;
        }

        &:hover {
          color: $turquoise-dark;
        }
      }
    }
  }

  .auth-footer {
    padding-bottom: 2em;

    p {
      margin-bottom: 0;
    }

    a {
      color: $turquoise-dark;
      font-size: .9rem;

      &:hover {
        color: $turquoise-dark;
      }
    }
  }
}

