//** Change Plan Page

.change-plan {
    margin: 2em 1em;

    h5 {
        font-weight: bold;
    }

    .plans {
        @include responsive(medium) {
          flex-flow: row nowrap;
        }

        display: flex;
        justify-content: space-between;
        flex-flow: column nowrap;
        margin-top: 2em;

        .current-plan {
            text-align: center;
            margin-bottom: 0;
        }
    }
}