//** Página de pago

#payment-modal {
  .modal-contenido {
    width: 70%;
    max-width: 600px;
  }
}

.payment-submit {
  text-align: right;

  button {
    font-size: 1rem;
  }

  .subscribe-btn {
    margin-top: 1em;
  }
}

.payment-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  h5 {
    font-weight: lighter;
  }
}

.payment-form {
  margin-bottom: 1em;
}
