//** Perfil de Usuario

.profile {
  .container {
    margin: 2em auto;
  }
}

.profile-content {
  @include responsive(extra-large) {
    display: flex;
    flex-flow: row wrap;
  }

  .profile-info {
    @include responsive(extra-large) {
      max-width: 232px;
    }

    .profile-container {
      margin: 1em 0;
      border: 1px solid $gray;
      border-radius: 6px;
      padding: 1em;
    }
  }

  .user-info-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    .info-item {
      @include responsive(small) {
        width: 40%;
      }

      @include responsive(extra-large) {
        width: 100%;
      }

      width: 100%;
      font-size: 0.8em;
    }
  }

  .school-logo-label {
    display: flex;
    align-items: center;
  }

  .school-logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;

    .school-logo {
      cursor: pointer;
      display: block;
      max-height: 150px;
      max-width: 150px;
    }

    .school-logo-help {
      @include responsive(extra-large) {
        display: block;
      }
      display: none;
      margin: 0 0 0 1em;
      line-height: 150px;
    }
  }

  .profile-form {
    @include responsive(extra-large) {
      padding: 0 1em 0 2em;
      max-width: 75%;
    }

    margin-top: 1em;
  }
}


.notifications-body {
  @include responsive(medium) {
    flex-direction: row;
  }
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .notifications-text {
    @include responsive(medium) {
      margin-bottom: 0;
    }
    display: inline-block;
    color: $gray-muted;
    width: 90%;
  }

  .toggle-switch {
    @include responsive(medium) {
      margin: 0;
    }
    margin: .5em auto;
  }
}


.user {
  margin: 1em auto 0;
  width: 180px;

  .profile-img {
    position: relative;
    width: 180px;

    .user-image {
      height: 180px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .fullname {
    margin: 1em 0 .5em;
    text-align: center;
    font-size: 1.1rem;
  }
}

h4.subscription-card-title {
  text-align: center;
  margin-bottom: 1em;
}

// Buttons

.sub-btn {
  display: block;
  width: 100%;
  margin: 1em 0;
}

.action-buttons {
  margin: 2em 0 1em;

  .action-btns-wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    flex-flow: row wrap;

    button {
      margin: .5em;
      font-size: 1rem;
      width: auto;
    }
  }
}


