{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="container">
        <section class="planificaciones list">
            <h2>{{ titulo }}</h2>
            <div class="list-buttons">
                {% if type == 'clase' %}
                    <a href="{% url 'plan_clase_create' %}" class="primary-button list-btn">
                        <span class="fas fa-file"></span> Nuevo Plan de Clase
                    </a>
                {% elif type == 'anual' %}
                    <a href="{% url 'plan_anual_create' %}" class="primary-button list-btn">
                        <span class="fas fa-file"></span> Nuevo Plan Anual
                    </a>
                {% elif type == 'unidad' %}
                    <a href="{% url 'plan_unidad_create' %}" class="primary-button list-btn">
                        <span class="fas fa-file"></span> Nuevo Plan de Unidad
                    </a>
                {% elif type == 'destrezas' %}
                    <a href="{% url 'plan_destrezas_create' %}" class="primary-button list-btn">
                        <span class="fas fa-file"></span> Nuevo Plan de Destrezas
                    </a>
                {% endif %}
                <a href="{% url 'planificaciones' %}" class="primary-button list-btn back-menu">
                    <span class="fas fa-bars"></span> Ir al Menú
                </a>
            </div>
            <table class="table list">
                <thead class="thead-dark">
                    <tr>
                        <th width="2%" scope="col">No</th>
                        <th scope="col">Nombre</th>
                        <th class="resp-column-md" scope="col">Asignatura</th>
                        <th class="resp-column-md" scope="col">Curso/s</th>
                        <th class="resp-column-lg" scope="col">Paralelo/s</th>
                        <th class="resp-column-sm" scope="col">Fecha de Creación</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if planes %}
                         {% for plan in planes %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td><a href="{{ plan.get_absolute_url }}">{{ plan.name }}</a></td>
                                <td class="resp-column-md">{{ plan.asignatura.name }}</td>
                                <td class="resp-column-md curso-cell">
                                {% if plan.curso %}
                                    {{ plan.curso }}
                                {% else %}
                                    <ul>
                                    {% for curso in plan.cursos.all %}
                                        <li>{{ curso.name }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                </td>
                                <td class="resp-column-lg">{{ plan.paralelos }}</td>
                                <td class="resp-column-sm">{{ plan.created_at | date:"d/m/Y H:i:s"}}</td>
                                <td>
                                    <a class="icon edit" href="{{ plan.get_update_url }}" title="Editar plan">
                                        <span class="fas fa-edit"></span>
                                    </a>

                                    <form method="POST" action="{{ plan.get_duplicate_url }}">
                                        {% csrf_token %}
                                        <button class="icon-button copy" type="submit" title="Duplicar Plan">
                                            <span class="far fa-copy"></span>
                                        </button>
                                    </form>

                                    <form method="POST" action="{{ plan.get_delete_url }}" id="deletePlanificacionForm">
                                        {% csrf_token %}
                                        <button class="icon-button delete" type="submit" title="Eliminar Plan" id="deletePlanificacion">
                                            <span class="fas fa-trash"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7">No hay ninguna planificación creada</td>
                        </tr>
                    {% endif %}

                </tbody>
            </table>

            {% if is_paginated %}
                <div class="pagination">
                    <div class="pag-wrapper">

                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="secondary-button">
                                <span class="fas fa-arrow-left"></span> Página Anterior
                            </a>
                        {% endif %}

                        <p>Página {{ page_obj.number }} de {{ paginator.num_pages }}</p>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="primary-button">
                                Página Siguiente <span class="fas fa-arrow-right"></span>
                            </a>
                        {% endif %}

                    </div>
                </div>
            {% endif %}

        </section>
    </section>
{% endblock %}