{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="planificaciones">
        <section class="container">
            <h2>Planificaciones</h2>
            <p>Elige la planificación que deseas crear.</p>
            <div class="plan-choices">
                <div class="choice-card">
                    <a href="{% url 'plan_clase_list' %}" class="plan-choice plan-clase">
                        <div class="plan-img clase-img vertically-center">
                            <img class="imagen" src="{% static 'img/plan_clase.png' %}" alt="Plan de Clase">
                        </div>
                    </a>
                    <a class="choice-text" href="{% url 'plan_clase_list' %}">Plan de Clase</a>
                </div>
                <div class="choice-card">
                    <a href="{% url 'plan_unidad_list' %}" class="plan-choice plan-unidad">
                        <div class="plan-img unidad-img vertically-center">
                            <img class="imagen" src="{% static 'img/plan_unidad.png' %}" alt="Plan de Unidad">
                        </div>

                        {% if not user.is_premium %}
                            <span class="premium-badge premium-badge-top">PREMIUM</span>
                        {% endif %}

                    </a>
                    <a class="choice-text" href="{% url 'plan_unidad_list' %}">Planificación de Unidad Didáctica</a>
                </div>
                <div class="choice-card">
                    <a href="{% url 'plan_destrezas_list' %}" class="plan-choice plan-destrezas">
                        <div class="plan-img destrezas-img vertically-center">
                            <img class="imagen" src="{% static 'img/plan_destrezas.png' %}" alt="Plan de Destrezas">
                        </div>

                        {% if not user.is_premium %}
                            <span class="premium-badge premium-badge-top">PREMIUM</span>
                        {% endif %}

                    </a>
                    <a class="choice-text" href="{% url 'plan_destrezas_list' %}">Planificación de Destrezas</a>
                </div>
                <div class="choice-card">
                    <a href="{% url 'plan_anual_list' %}" class="plan-choice plan-anual">
                        <div class="plan-img anual-img vertically-center">
                            <img class="imagen" src="{% static 'img/plan_anual.png' %}" alt="Plan Anual">
                        </div>

                        {% if not user.is_premium %}
                            <span class="premium-badge premium-badge-top">PREMIUM</span>
                        {% endif %}

                    </a>
                    <a class="choice-text" href="{% url 'plan_anual_list' %}">Planificación Curricular Anual</a>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
